.app {
  text-align: center;
}

.nav-bar {
  width: 100%;
  height: fit-content;
  background-color: black;
  margin-bottom: 5px;
}

.nav-bar-option {
  display: inline-flex;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
}

.nav-bar-option a {
  text-decoration: none;
  opacity: 0.5;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 300;
}

.nav-bar-option a:hover {
  opacity: 1;
}

.content {
  margin: auto;
  padding: 10px;
  width: 80%;
  max-width: 960px;
  border: 1px solid black;
}